* {
  margin: 0; 
  padding: 0; 
}

table { 
  border-collapse: collapse; 
  border-spacing: 0; 
  
}

#board { 
  padding: 0px; 
  margin: 0 auto; 
  margin-top: 25px; 
}

#board tr td { 
  width: 150px; 
  height: 150px; 
  border: 5px solid#e0dbd1; 
  font-family: Helvetica; 
  font-size: 50px; 
  text-align: center; 
  background-image:url(ticimage/erase.jpeg);
}
 
#board tr td:hover { 
  background: #e4e4e4; 
  cursor: pointer; 
}
body{
  background-image:url(ticimage/blackb2.jpg);
  background-repeat:"no-repeat";
  background-size:cover;
}

.h1{
text-align:center;
color:#e0dbd1;
background-image:url(ticimage/erase.jpeg);
background-repeat:no-repeat;
background-size:cover;
}